nav {
    display: flex;
    background-color: pink;
    padding: 0px;
    justify-content: center;
}

.nav-link {
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    background-color: pink;
}

.nav-link:hover {
    background-color: aliceblue;

    color: pink;
}